<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('./partials/header'); %> 
        </header>
        <main>
            <aside>
                <h1>Contact List</h1>
                <ul>
                    <% for (const user of users) { %> 
                    <li><%= user.name %> </li>
                    <% } %> 
                </ul>
            </aside>
            <div class="chat__window">
                <div class="chats">
                    
                </div>
                <form id="form">
                    <textarea id="chatbox" class="chat__input"></textarea>
                    <button type="submit">send</button>
                </form>
            </div>
        </main>
    </body>
</html>