<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>

        <main>
            <div class="intro">
                <h1 class="app__title"><span>Hey!</span> Messenger</h1>
                <img src="/img/logo-alt.png" alt="networking" width="100" height="100" />
            </div>
            <div class="start__button_container">
                <div class="welcome__text">
                    <p>Welcome to hey! messenger chat app, click on get started to begin</p>
                </div>
                <button class="start__button">Get Started</button>
            </div>

            <div id="forms" class="intro__forms">
                <h1 class="app__title"><span>Hey!</span> Messenger</h1>
                <img src="/img/form-small.jpg" alt="networking" width="100" height="100" />
            </div>
            <div class="tab">
                <div class="tab__bar">
                    <button class="login current">Login</button>
                    <button class="signup">Sign up</button>
                </div>
                <div class="tab__content">
                    <div class="login__content">
                        <small class="input__err hide login__err">*Invalid username or password</small>
                        <label for="username">
                            <span>Username</span>
                            <input type="text" name="username" id="username" placeholder="Username">
                        </label>
                        <label for="pwd">
                            <span>Password</span>
                            <input type="password" name="pwd" id="pwd" placeholder="Password">
                        </label>
                        <button class="submit__form_button">Continue</button>
                    </div>
                    <div class="signup__content">
                        <div class="uname__container">
                            <label for="username-signup">
                                <span>Choose Username</span>
                                <small class="input__err hide">*username is not valid</small>
                                <input type="text" name="username" id="username-signup" placeholder="Username">
                            </label>
                            <button class="btn__next" title="next">
                                <span>next</span>
                                <img src="/img/right-arrow.svg" width="25" height="25" alt="next" />
                            </button>
                        </div>
                        <div class="pwd__container">
                            <label for="password">
                                <span>Password</span>
                                <small class="input__err hide">Password should be at least 6 characters</small>
                                <input type="password" name="pwd" id="password" placeholder="Password">
                            </label>
                            <label for="cpwd">
                                <span>Confirm password</span>
                                <small class="input__err hide">Password should match</small>
                                <input type="password" name="cpwd" id="cpassword" placeholder="Confirm password">
                            </label>
                            <button class="submit__form_button">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </main>

















        <!-- <header>
            <%- include('./partials/header'); %> 
        </header>
        <main>
            <aside>
                <h1>Contact List</h1>
                <ul>
                    <% for (const user of users) { %> 
                    <li><%= user.name %> </li>
                    <% } %> 
                </ul>
            </aside>
            <div class="chat__window">
                <div class="chats">
                    
                </div>
                <form id="form">
                    <textarea id="chatbox" class="chat__input"></textarea>
                    <button type="submit">send</button>
                </form>
            </div>
        </main> -->
    </body>
</html>