<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>

        <main>
            <div class="intro">
                <h1 class="app__title"><span>Hey!</span> Messenger</h1>
                <img src="/img/logo.png" alt="networking" width="100" height="100" />
            </div>
            <div class="start__button_container">
                <div class="welcome__text">
                    <p>Welcome to hey! messenger chat app, click on get started to begin</p>
                </div>
                <button class="start__button">Get Started</button>
            </div>

            <div>
                <h1 class="app__title"><span>Hey!</span> Messenger</h1>
            </div>
            
        </main>

















        <!-- <header>
            <%- include('./partials/header'); %> 
        </header>
        <main>
            <aside>
                <h1>Contact List</h1>
                <ul>
                    <% for (const user of users) { %> 
                    <li><%= user.name %> </li>
                    <% } %> 
                </ul>
            </aside>
            <div class="chat__window">
                <div class="chats">
                    
                </div>
                <form id="form">
                    <textarea id="chatbox" class="chat__input"></textarea>
                    <button type="submit">send</button>
                </form>
            </div>
        </main> -->
    </body>
</html>